body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #e2edff;
  line-height: 125%;
  padding: 0;
  margin: 10px;
}

header {
  background-color: white;
  padding:.5em;
  font-size: x-large;
  color: navy;
  border-radius:25px;
  margin-bottom:5%;
}

header #img1 {
  float:left;
}
header #img2 {
  float:right;
}

header #text {
  font-size:120%;
  text-align:center;
}

form.lotto .buttonarea { 
  margin-top:2em;  
  text-align: center;   
  padding: 4px;   
  background-color: #0066FF; 
}

form.lotto .buttonarea input {   
  background: navy;
  color: white;   
  font-weight: bold;   
  padding: 5px;  
  border: 1px solid white; 
  margin-top:13px;
}

.form-group {
  padding-top:2em;
}

input[type="text"]:valid, input[type="email"]:valid, input[type="password"]:valid, input[type="url"]:valid{
    color: green;
}



/* Unmatched */
input[type="text"]:invalid, input[type="email"]:invalid, input[type="password"]:invalid, input[type="url"]:invalid{
    color: red;
    border-color:red;
}
